.contacto__contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 1rem;
}
.contacto__contenedor p{
    color: #8C8888;
    font-size: 20px;
}
.contacto__contenedor h1{
    color: #8C8888;
    font-size: 32px;
}
.contacto__contenedor__imagenes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}